data/*
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*
__pycache__
checkpoints/*.pth
.idea/
*.swp
*.swo
*~
*.ipynb_checkpoints
test_photos/
total_dataset_config/valid.txt
*.pyc
