data/custom/images/*
data/custom/labels/*
data/custom_1/*
data/license_plate_dataset/*
data/*.tar
log/
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*
__pycache__
.idea/
logs/*~
*.pth
