data/custom/images/*
data/custom/labels/*
data/custom_with_face/*
data/license_plate_dataset/*
data/*.tar
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*
__pycache__
.idea/
logs/*~
*.pth
